.box {
    font-size: 15px;
    background-color: rgb(117, 102, 250);
    border: 5px solid rgb(164, 164, 232);
    border-radius: 15px;
    padding: 10px;
    width: 130px;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(37, 30, 55);
    border-color: blue;
    width: 130px;
    border-radius: 15px;
}

button {
    color: aliceblue;
}